{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container my-5 about-us-container">
    <h3 class="text-center mb-5 font-primary fw-bold text-uppercase">About Us</h3>
    <div class="row align-items-center mb-5">
        <div class="col-md-6">
            <h2 class="font-primary mb-4 fw-bold">Our Mission</h2>
            <p class="font-secondary">
                At Little Wheekers Rescue, our mission is to provide a safe haven for abandoned and neglected guinea pigs.
                We believe in promoting responsible pet ownership through education, adoption, and community outreach.
            </p>
        </div>
        <div class="col-md-6">
            <img src="{% static 'images/g-pigs1.png' %}" alt="Our Mission" class="img-fluid rounded shadow">
        </div>
    </div>

    <div class="row align-items-center mb-5">
        <div class="col-md-6 order-md-2">
            <h2 class="font-primary mb-4 fw-bold">Our Story</h2>
            <p class="font-secondary">
                Founded in 2020, Little Wheekers Rescue has grown from a small volunteer effort to a thriving organization,
                dedicated to rescuing and rehabilitating guinea pigs in need. Our team is passionate about animal welfare and
                works tirelessly to ensure each guinea pig finds a loving home.
            </p>
        </div>
        <div class="col-md-6 order-md-1">
            <img src="{% static 'images/g-pigs2.png' %}" alt="Our Story" class="img-fluid rounded shadow">
        </div>
    </div>

 
    <div class="row align-items-center mb-5">
        <div class="col-md-6">
            <h2 class="font-primary mb-4 fw-bold">Where Donations Go</h2>
            <p class="font-secondary">
                Your generous donations make a significant impact on the lives of our guinea pigs. Here's how your contributions are utilized:
            </p>
            <ul>
                <li class="font-secondary text-capitalize">High-quality hay for a balanced diet.</li>
                <li class="font-secondary text-capitalize">Nutritional pellets and fresh vegetables.</li>
                <li class="font-secondary text-capitalize">Regular veterinary check-ups and emergency medical care.</li>
                <li class="font-secondary text-capitalize">Clean bedding and habitat supplies.</li>
                <li class="font-secondary text-capitalize">Education and outreach programs for responsible pet ownership.</li>
            </ul>
        </div>
        <div class="col-md-6">
            <img src="{% static 'images/g-pigs3.png' %}" alt="Where Donations Go" class="img-fluid rounded shadow">
        </div>
    </div>
</div>
{% endblock %}