{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row"></div>
    <div class="col text-center mt-3">
        <h2 class="logo-font">Adoption Policy</h2>
    </div>
</div>
<div class="row"></div>
    <div class="col text-center mt-3">
        <h4 class="logo-font">Accommodation</h4>
        <p class="text-center">Cages must allow 140cm on one level as a minimum - however we recommend bigger if it is possible.<br>
          We recommend C&C enclosures. Not all of our guinea pigs will be suitable for a 140 cage and we will advise where we think this is the case.<br>
          We will only re-home where the cage is kept inside a house all year.</p>
    </div>
    <div class="text-center">
    <img src="/media/policy.png" class="img-fluid rounded" alt="policy">
    </div>
</div>
<div class="col text-center mt-3">
    <h4 class="logo-font text-center">Bedding</h4>
    <p class="text-center">No sawdust or wood shavings should be used within the cage.<br>
      Many far better alternatives are available.</p>
</div>
<div class="col text-center mt-3"></div>
    <h4 class="logo-font text-center">Water,Hay & Food</h4>
    <p class="text-center">Fresh water must be available at all times.<br>
     Good quality hay must be available for bedding, play and eating. We do not recommend hay racks.<br>
      Foraging is natural behaviour for guinea pigs. Hay must be plentiful and given daily as it makes up 80% of their diet.<br>
      Pellet type feed must be available - not muesli types as they encourage selective feeding. <br>
      Vegetables/salad items and occasional fruit should be fed twice daily - around a cup per day per pig.
    </p>
</div>

<div class="col text-center mt-3"></div>
    <h4 class="logo-font text-center">Items in home</h4>
    <p class="text-center">Hideys and/or tunnels must be available as guinea pigs need to have shelter to simulate their environment and allow natural behaviour.
    </p>
</div>
<div class="col text-center mt-3"></div>
    <h4 class="logo-font text-center">Company</h4>
    <p class="text-center">We do not re-home guinea pigs to live alone and they must have the same species company.<br>
     They must be protected from direct contact with other animals. We do not re-home to live with rabbits.
    </p>
</div>
<div class="col text-center mt-3"></div>
    <h4 class="logo-font text-center">Care</h4>
    <p class="text-center">All signs of illness or injury must be referred to a qualified vet for treatment.<br>
    Our piggy's must not be used for breeding purposes.<br>
    We always home check prior to adoption
    </p>
</div>
<div class="row"></div>
    <div class="col text-center mt-3">
            <div class="border p-3" style="display: inline-block;">
                <p>Single guinea pig (to live with others): <strong>£25</strong></p>
                <p>Pair: <strong>£40</strong></p>
            </div>
    </div>
</div>
<div class="text-center">
<a href="{% url 'adoptions:available_guinea_pigs' %}" class="btn btn-secondary adopt-now-button">Adopt</a>
</div>

{% endblock %}