{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container list-group-item mt-5 text-center form-container">
    <h3 class="font-primary fw-bold">Delete Guinea Pig: {{ guinea_pig.name }}</h3>
    <p class="font-secondary">Are you sure you want to delete this guinea pig?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger font-secondary">Delete</button>
        <a href="{% url 'adoptions:available_guinea_pigs' %}" class="btn btn-secondary font-secondary">Cancel</a>
    </form>
</div>
{% endblock %}