{% extends "base.html" %}
{% load static %}
{% block content %}


   
    <div class="container my-4 form-container">
    <h3 class="font-primary fw-bold text-center text-uppercase mb-3">Edit Guinea Pig</h3>
    
    <form method="post" enctype="multipart/form-data" class="list-group-item shadow form-container rounded p-4">
        {% csrf_token %}
       
        <div class="form-group">
            {{ form.name.label_tag }}
            {{ form.name }}
            {{ form.name.errors }}
        </div>

        <div class="form-group">
            {{ form.birth_year.label_tag }}
            {{ form.birth_year}}
            {{ form.age.errors }}
        </div>
        <div class="form-group">
            {{ form.gender.label_tag }}
            {{ form.gender }}
            {{ form.gender.errors }}
        </div>

        <div class="form-group">
            {{ form.image.label_tag }}
            {{ form.image }}
            {{ form.image.errors }}
        </div>
        <div class="text-center d-flex justify-content-center flex-custom">
        <button type="submit" class="btn adopt-now-button font-secondary">Update Guinea Pig</button>
        <a href="{% url 'adoptions:available_guinea_pigs' %}" class="btn btn-secondary">Cancel</a>
    </div>
    </form>
</div>
{% endblock %}