{% extends "base.html" %}
{% load static %}
{% block content %}


   
    <div class="container my-4">
    <h2 class="font-primary fw-bold text-center text-uppercase">Edit Guinea Pig</h2>
    <form method="post" enctype="multipart/form-data" class="list-group-item shadow">
        {% csrf_token %}
        
        <div class="form-group">
            {{ form.name.label_tag }}
            {{ form.name }}
            {{ form.name.errors }}
        </div>

        <div class="form-group">
            {{ form.age.label_tag }}
            {{ form.age }}
            {{ form.age.errors }}
        </div>
        <div class="form-group">
            {{ form.gender.label_tag }}
            {{ form.gender }}
            {{ form.gender.errors }}
        </div>

        <div class="form-group">
            {{ form.image.label_tag }}
            {{ form.image }}
            {{ form.image.errors }}
        </div>
        <div class="text-center">
        <button type="submit" class="btn btn-primary adopt-now-button font-secondary">Update Guinea Pig</button>
        <a href="{% url 'adoptions:available_guinea_pigs' %}" class="btn btn-secondary font-secondary">Cancel</a>
    </div>
    </form>
</div>
{% endblock %}