{% extends "base.html" %}
{% load static %}


<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>


{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 logo-font text-black">
                Welcome to Little Wheekers Rescue
            </h1>
            <div class="my-5">
                <h4>
                    {% for guinea_pig in guinea_pigs %}
                        <a href="{% url 'adoptions:adopt_guinea_pig' guinea_pig.id %}" class="adopt-now-button btn btn-lg btn-rounded-4 text-uppercase py-2">Adopt Now</a>
                    {% endfor %}
                    <a href="" class="donate-now-button btn btn-lg rounded-4 text-uppercase py-2">Donate</a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}

