{% extends "base.html" %}
{% load static %}
{% block content %}





<div class="container my-4 mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data" class="border p-4 rounded bg-light shadow" action="{% url 'home:management' %}">
                <h3 class="text-center mb-5 font-primary fw-bold text-uppercase">Add a New Guinea Pig</h3>
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_name" class="font-secondary">Name</label>
                    <input type="text" class="form-control" id="id_name" name="name" placeholder="Enter guinea pig's name">
                </div>
                <div class="form-group">
                    <label for="id_birth_year" class="font-secondary">Birth Year</label>
                    <input type="number" class="form-control" id="id_birth_year" name="birth_year" placeholder="Enter birth year">
                </div>
                <div class="form-group">
                    <label for="id_gender" class="font-secondary">Gender</label>
                    <select class="form-control" id="id_gender" name="gender">
                        <option value="M" class="font-secondary">Male</option>
                        <option value="F" class="font-secondary">Female</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="id_image" class="font-secondary">Image</label>
                    <input type="file" class="form-control-file" id="id_image" name="image">
                </div>
                <div class="form-check mb-3">
                    <input type="checkbox" class="form-check-input" id="id_adopted" name="adopted">
                    <label class="form-check-label font-secondary" for="id_adopted">Adopted</label>
                </div>
                <button type="submit" class="btn adopt-now-button  font-secondary mx-auto d-block p-2">Add Guinea Pig</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}





