{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card-sign-up shadow p-4">
                <h2 class="text-center mb-4 font-primary fw-bold text-uppercase">{% trans "Sign In" %}</h2>

                <form method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                
                    <!-- Login field -->
                    <div class="input-group mb-2 justify-content-center">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                        {{ form.login }}
                    </div>
                
                    <!-- Password field -->
                    <div class="input-group mb-4 justify-content-center">
                        <span class="input-group-text"><i class="fas fa-lock"></i></span>
                        {{ form.password }}
                    </div>
                
                    <!-- Submit button -->
                    <div class="text-center mb-2">
                        <button type="submit" class="btn btn-primary adopt-now-button">{% trans "Sign In" %}</button>
                    </div>
                
                    <!-- Sign-up link -->
                    <p>
                        If you have not created an account yet, then please
                        <a href="{{ signup_url }}" class="color-primary">sign up</a> first.
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}
