{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card-sign-up shadow p-4">
                <h2 class="text-center mb-4 font-primary fw-bold text-uppercase">Password Reset</h2>

                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p class="font-secondary text-center mb-4">
                    "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it."
                </p>

                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}

                    <!-- Email input field -->
                    <div class="input-group mb-4 justify-content-center">
                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        {{ form.email }}
                    </div>

                    <!-- Submit and Back to Login buttons -->
                    <div class="d-flex justify-content-between flex-custom">
                        <a class="btn btn-secondary font-secondary" href="{% url 'account_login' %}">
                            Back to Login
                        </a>
                        <button type="submit" class="btn adopt-now-button font-secondary">
                            Reset Password
                        </button>
                    </div>
                </form>

                <p class="font-secondary text-center mt-4">
                   Please contact us if you have any trouble resetting your password.
                </p>
            </div>
        </div>
    </div>
</div>
  {% endblock %}