{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container text-center my-5">
    <h1 class="font-primary">Adoption Successful!</h1>
    <p class="lead font-secondary">Thank you for adopting a guinea pig from <strong>Little Wheekers Rescue!</strong></p>
    <p class="font-secondary">Your adoption application has been processed successfully. We will be in touch with you soon.</p>
    <a href="{% url 'home:home' %}" class="btn adopt-now-button">Return to Home</a>
</div>
{% endblock %}