{% extends "base.html" %} 

{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}

<div class="row">
    <div class="col text-center mt-3">
        <h2 class="logo-font">Available guinea pigs for adoption</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        {% if not guinea_pigs %}
            <h2 class="text-danger text-center">
                No guinea pigs available for adoption.
            </h2>
        {% else %}
            <div class="container-md">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-3 g-md-5">
                    {% for guinea_pig in guinea_pigs %}
                        <div class="col my-5">
                            <div class="card h-100">
                                <!-- Card Image -->
                                {% if guinea_pig.image %}
                                    <a href="{% url 'adoptions:adopt_guinea_pig' guinea_pig.id %}">
                                        <img src="{{ guinea_pig.image.url }}" alt="{{ guinea_pig.name }}" class="card-img-top img-fluid"/>
                                    </a>
                                {% else %}
                                    <a href="{% url 'adoptions:adopt_guinea_pig' guinea_pig.id %}">
                                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ guinea_pig.name }}"/>
                                    </a>
                                {% endif %}
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title fs-3">{{ guinea_pig.name }}</h5>
                                        </div>
                                    </div>
                                    <!-- Pet Details -->
                                    <p class="card-text main-text-color">
                                        <strong>Age:</strong> {{ guinea_pig.age }} years<br>
                                        <strong>Gender:</strong> {{ guinea_pig.get_gender_display }}<br>
                                    </p>
                                    <a href="{% url 'adoptions:adopt_guinea_pig' guinea_pig.id %}" class="btn btn-primary">Adopt Now</a>
                                    {% if request.user.is_superuser %}
                                    <a href="{% url 'home:edit_guinea_pig' guinea_pig.id %}" class="btn btn-primary">Edit</a>
                                    <a href="{% url 'home:delete_guinea_pig' guinea_pig.id %}" class="btn btn-danger btn-primary">Delete</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
</div>

						
{% endblock %}
